#bgHome {
    background-image: url(../images/bgGalaxia.jpg);
    background-size: cover;
    background-position: center;
}


/* Elemento pai */
.login-form {
 display: flex;
 flex-direction: column;
 align-items: center;
 height: 100vh;
 justify-content: center;
}

/* Comprtamento dos elementos */
.login-header {
 align-items: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 margin-bottom: 30px;
}

/* Estilização da logo */
.login-header #logo-rick  {
    width: 100%;
    max-width: 400px;
    border-radius: 13px;
    margin-bottom: 12px;
   }

/* Estilização da imagem */
.login-header img {
 width: 240px;
}

/* Estilização do titulo */
.login-header h1 {
    color: #fafafa;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #000;
    font-size: 1.6em;
}

/* Estilização do input */
.login_input {
    border: 2px solid #333;
    border-radius: 8px;
    color: #333;
    font-size: 1em;
    margin-bottom: 15px;
    width: 100%;
    max-width: 300px;
    outline: none;
    padding: 15px;
}

/* Estilziação do botão no seu estado disabled */
.login_button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Estilziação do botão no seu estado abilitado */
.login_button {
    background-color: #74bde4;
    border: 2.5px solid rgb(174, 133, 9);
    border-radius: 8px;
    color: #fff;
    padding: 15px;
    font-size: 1em;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
}